h2.title Dashboard

.submenu
  ul.submenu
    li.add
      a(href="/donors/new/") Add Donor
    li.add
      a(href="/groups/new/") Add Request
    li.add
      a(href="/remarks/new/") Add Reminder
  
table.display
  thead
    tr
      th
        span Name
      th
        span Date
      th
        span Attached to

  - for remark in remarks
    tr
      td
        a(href='/remarks/'+remark._id)= remark.name
      td
        - if(remark.date != null)
          - var year = remark.date.getYear()
          - var date = remark.date.getMonth() + "/" + remark.date.getDay() + "/" + ((year <1000) ? year + 1900 : year);      
          a(href='/remarks/'+remark._id)= date
      td
        a(href='/remarks/'+remark._id)= remark.target.name
