h2.title Requests

.submenu
  ul.submenu
    li.add
      a(href='/requests/new') Add Request
            
table.display
  thead
    tr
      th
        span Name
      th
        span Subject
      th
        span Already sent
      th
        span Number of targets
  - for request in requests
    tr
      td
        a(href='/requests/'+request._id)= request.name  
      td
        a(href='/requests/'+request._id)= request.subject  
      td
        a(href='/requests/'+request._id)= request.sent  
      td
        a(href='/requests/'+request._id)= request.numberOfTargets