!!! 5
html(lang='en')
  head
    title Donor Management System
    link(type='text/css', href='/css/style.css', rel='stylesheet')
    

    
  body
    #logo    
      h1 
        a(href'#') Donor Management System
      p
        em Description

    #page
      #content!= body
