!!! 5
html(lang='en')
  head
    title Donor Management System
    link(type='text/css', href='/css/style.css', rel='stylesheet')
    
    link(type='text/css', href='/css/demo_table.css', rel='stylesheet')
    link(type='text/css', href='/css/demo_page.css', rel='stylesheet')    
    
    script(type='text/javascript', src='/javascript/jquery-1.7.1.min.js') 
    script(type='text/javascript', src='/javascript/jquery.livequery.js') 
    script(type='text/javascript', src='/javascript/jquery.dataTables.min.js') 
    script(type='text/javascript', src='/javascript/scripts.js') 
    
  body
    #logo    
      h1 
        a(href'#') Donor Management System
      p
        em Description
    #header    
      #menu
        ul(class=currentCategory)
          - if(currentCategory == "dashboard")
            li.first.current_page_item
              a(href='/') Dashboard
          - else
            li.first
              a(href='/') Dashboard            

          - if(currentCategory == "donors")
            li.current_page_item
              a(href='/donors') Donors
          - else
            li
              a(href='/donors') Donors
            
          - if(currentCategory == "requests")
            li.current_page_item
              a(href='/requests') Requests
          - else
            li
              a(href='/requests') Requests

          - if(currentCategory == "groups")
            li.current_page_item
              a(href='/groups') Groups              
          - else
            li
              a(href='/groups') Groups

          - if(currentCategory == "settings")
            li.current_page_item
              a(href='/settings') Settings  
          - else
            li
              a(href='/settings') Settings  
                  
      
    #page
      - if (typeof info !=="undefined")
        .info= info
      - if (typeof error !== "undefined")
        .error= error
      #content!= body
        