!!! 5
html(lang='en')
	head
		title Donor Management System
		link(type='text/css', href='/css/main.css', rel='stylesheet')
	body
		h1 Donor Management System
		nav
			ul
				li
					a(href='/') Dashboard
				li
					a(href='/requests') Requests
				li
					a(href='/donors') Donors
				li
					a(href='/groups') Groups
				li
					a(href='/settings') Settings					
		#content!= body
