tr
  td
    a(href='/donors/'+donor._id)= donor.name  
  td
    a(href='/donors/'+donor._id)= donor.company  
  td
    a(href='/donors/'+donor._id)= donor.email  
  td
    a(href='/donors/'+donor._id)= donor.telephone  
