h2 Login

- if (user.errors.general)
  p.error= user.errors.general

form(method="post", id="user")
  p
    label Username
    input(type="text", name="user[username]", value=user.username)
  p
    label Password
    input(type="password", name="user[password]")
  p.buttons
    input(type="submit", value="Login")
