h2.title=user.name
.submenu
  ul
    li.edit
      a(href="/users/" + user._id + "/edit") Edit

.details
  .row
    label Username
    span= user.username
  .row
    label Name
    span= user.name
  .row
    label E-Mail
    span= user.email
